.container-fluid {
	margin-top: 20px;
}

.clear {
	zoom: 1;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

.height {
	height: auto;
}

.content {
	text-indent: 2em;
}

.btn {
	float: right;
	background: skyblue;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
}

#panel-361677 div.search {
	margin-top: 20px;
	/*border: 1px solid red;*/
	height: 30px;
	line-height: 30px;
}

input {
	/*margin-top: 20px;*/
	display: inline-block;
	height: 100%;
}

#panel-361677 span {
	display: inline-block;
	height: 100%;
	line-height: 30px;
	background-color: skyblue;
	padding: 0px 10px;
	color: #fff;
	cursor: pointer;
}